.main-content {
    align-items: center;
    text-align: center;
    padding: 30px;
}

.main-content {
/*     change to something else
 */    background-image: url(https://php-noise.com/);
    text-align: center;
}

#open-meteo-readout {
    color: red;
}

#usno-readout {
    color: blue;
}
