.namebar {
    text-align: center;
}

.giants-categories {
    text-align: center;
}

.fictional-giants {
    background-image: url('');
    background-position: center;
    color: red;
    font-family: "Orbitron", sans-serif;
}

.real-giants {
    background-image: url('');
}

.fantastical-giants {
    background-image: url('');
}

li {
    text-align: left;
}